@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Diphylleia&family=Dongle&family=Gowun+Dodum&family=Hi+Melody&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');

* {
	font-family: 'Gowun Dodum', sans-serif;
}

.comment-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 40vh;
	margin-top: 4rem;
}

.comment-form div {
	margin: 0 0 1.3rem 0;
	height: 100%;
}

.comment-form input {
	height: 4rem;
	width: 25rem;
	font-size: 1.3rem;
	border-radius: 1.6rem;
	border: 1px solid rgb(110, 113, 115);
	outline: none;
	padding-left: 0.7rem;
}

.comment-form input:focus {
	outline: 0.2rem solid rgb(110, 113, 115);
	transition: 0.3s ease;
}

.btn {
	background-color: rgb(110, 113, 115);
	border-radius: 1.5rem;
	border: none;
	outline: none;
	width: 25rem;
	height: 100%;
	font-size: 1.5rem;
	color: #ffffff;
	transition: 0.2s ease;
}

.btn:hover {
	background-color: #554c4c;
	transition: 0.2s ease;
}

.btn:focus {
	width: 25rem;
	background-color: #ccc;
}

.btn-wrapper-form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.delete-btn {
	width: 80%;
	margin-top: 2rem;
	margin-right: 1rem;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	font-size: 1.5rem;
	border: none;
	border-radius: 1rem;
	background-color: rgb(110, 113, 115);
	color: #ffffff;
	cursor: pointer;
	transition: 0.2s ease-in;
}

.delete-btn:hover {
	background-color: #554c4c;
	transition: 0.2s ease;
}

.modify-btn {
	width: 80%;
	margin-top: 2rem;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	font-size: 1.5rem;
	border: none;
	border-radius: 1rem;
	background-color: rgb(110, 113, 115);
	color: #ffffff;
	transition: 0.2s ease;
	cursor: pointer;
}

.modify-btn:hover {
	background-color: #554c4c;
	transition: 0.2s ease;
}

.comment {
	width: 100%;
}

.comments {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	margin: 5rem auto;
	padding-bottom: 1rem;
	outline: 0.4rem solid #ccc;
	border-radius: 1.5rem;
}

.comment-name {
	font-size: 2.5rem;
}

.comment-content {
	font-size: 1.5rem;
}
